.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
float:right;
border:1px solid blanchedalmond;
}
.big_image{
    width:100%;
    }
    #start,#status{
        font-size: 25px;
    }
     h4{
        background-color: cornsilk;
        line-height: 2;
        margin: 0px;
    }
.modal-dialog{
    width: 90%;
}
.instructions_image{
    width: 45%;
    display: inline-block;
}
video{
    background:url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}